* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header, h1, h2, h3, h4, h5 {
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-size: 26px;
}

header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #2C88E3;
    text-align: center;
    color: white;
}

main {
    width: 100%;
    padding: 25px;
}

main .input-section {
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row-container > input {
    max-width: 350px;
    width: 100%;
    padding: 6px 5px;
    font-family: monospace;
    font-size: 26px;
    outline: none;
    border-radius: 5px;
    border: 2px solid #e0e0e0;
}

.flex-row-container > input:focus {
    border: 1px solid #146ef5;
}

.flex-row-container > button {
    max-width: 180px;
    width: 100%;
    font-family: monospace;
    font-size: 22px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #146ef5;
    color: #ffff;
    outline: none;
    border: none;
    margin:-1px 5px 0 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.flex-row-container > button > .btn-icon {
    width: 20px;
    margin: 0 5px;
}

.error-msg {
    display: none;
    color: red;
    /* background-color: rgb(255, 171, 171); */
    border-radius: 5px;
    padding: 5px 8px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 530px;
    margin: 10px auto;
    width: 100%;
}
