@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* body {
    background-color: #172033;
} */

header, main{
        background-color: #172033;
}

header, h1, h2, h3, h4, h5 {
 font-family: "Roboto", sans-serif;
}

h1{
    font-size: 26px;
    margin-bottom: 5px;
}

header {
    padding: 50px 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: rgb(232, 232, 232);

}

main {
    width: 100%;
    padding: 45px ;
}

main .input-section {
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row-container > input {
    max-width: 350px;
    width: 100%;
    padding: 10px 8px;
    font-family: monospace;
    font-size: 20px;
    outline: none;
    border-radius: 5px;
    border: 2px solid #e0e0e0;
    box-sizing: border-box;
}

.flex-row-container > input::placeholder{
    color: rgb(156, 156, 156);
}



.flex-row-container > input:focus {
    border: 1px solid #146ef5;
}

.flex-row-container > button {
    max-width: 180px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #146ef5;
    color: #ffff;
    outline: none;
    border: none;
    margin:-1px 5px 0 5px;
    display: flex;
    flex-flow: row nowrap;
    text-transform: uppercase;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;

}

.flex-row-container > button:hover {
    background-color: #0a61e3;
}

.flex-row-container > button > .btn-icon {
    width: 18px;
    margin: 0 5px;
}

.error-msg, .server-error {
    display: none;
    color: red;
    font-weight: bold;
    /* background-color: rgb(255, 171, 171); */
    border-radius: 5px;
    padding: 5px 8px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 530px;
    margin: 10px auto;
    width: 100%;
}

.server-error {
    background-color: rgb(255, 171, 171);
}



/*----results ----*/
section {
    background-color: rgb(238, 238, 238);
    margin: -20px 0 0 0;
    min-height: 800px;
    visibility:hidden;
    padding: 20px 15px;
}

.results {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 5px;
    color: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 28px;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px; 
    box-sizing: border-box;
}

.summary {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    min-width: 100%;
    align-items: flex-end;
    padding: 25px;
}

li.summary-data {
   list-style: none;
}

.score-section {
  padding: 20px; 
  border: solid 2px gray;
  border-radius: 20px;
  text-align: center;
}

.results-details {
    padding: 20px 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 5px;
    color: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 28px;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px; 
    box-sizing: border-box;
}



/*---FOOTER ---*/
footer {
    background-color: white;
}